<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>WebRTCServlet</servlet-name>
        <servlet-class>de.lespace.webrtclibs.jwebrtc2.WebRTCServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WebRTCServlet</servlet-name>
        <url-pattern>/join/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WebRTCServlet</servlet-name>
        <url-pattern>/leave/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WebRTCServlet</servlet-name>
        <url-pattern>/turn/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WebRTCServlet</servlet-name>
        <url-pattern>/message/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WebRTCServlet</servlet-name>
        <url-pattern>/r/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
